 /*  ------------------------- */
    /*  -------- GENERIC -------- */
    /*  ------------------------- */

    * {
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: justify;
    }

    .container {
        min-width: min(90vw, 1600px);
    }

    .container2 {
        width: min(90vw, 1600px);
        background: #000000;
    }

    .container3 {
        width: min(90vw, 1600px);
        background: #A4FBE1;
    }
    .container4 {
        width: min(90vw, 1600px);
        background: #000000;
    }

    /*  ------------------------ */
    /*  -------- NAVBAR -------- */
    /*  ------------------------ */

    .Header {
        font-size: 1.4em;
        background: rgba(0, 0, 0, .80);
        /* padding-left: 190px; */
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .Header>* {
        margin-left: 20px;
    }

    .HeaderText {
        padding: 5px;
        color: white;
        text-decoration: none;
    }

    .HeaderImage {
        width: 20px;
        height: auto;
        margin-right: 5px;
        box-sizing: border-box;
    }





    /*  --------------------------------- */
    /*  -------- LANDING SECTION -------- */
    /*  --------------------------------- */

    .prehled {
        width: 100vw;
        height: 100vh;
        position: relative;
    }


    .HlavniNadpis {
        font-size: 75px;
        margin-top: 100px;
        width: 100%;
		color: #000000;;
        text-align: center;
    }

    .iphone {
        height: auto;
        width: 700px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

    /*  -------------------------- */
    /*  -------- FUNKCE 1 -------- */
    /*  -------------------------- */

    .Funkce1 {
        background: #1a2d25;
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .prvniodstavec {
        padding-top: 100px;
        padding-left: 40px;
        font-weight: bold;
        font-size: 75px;
        color: #1ec87e;
    }

    .druhyodstavec {
        padding-top: 100px;
        padding-right: 40px;
        padding-bottom: 150px;
        align-self: left;
        font-weight: bold;
        font-size: 75px;
        color: #1ec87e;
        text-align: right;
    }

    /*  -------------------------- */
    /*  -------- FUNKCE 2 -------- */
    /*  -------------------------- */

    .Funkce2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #000000;
        width: 100vw;
        height: auto;
        position: relative;
    }

    .Funkce2 .nadpis {
        padding: 5%;
        color: white;
        font-size: 70px;
        padding-left: 40px;
    }

    .Funkce2 .prvniodstavec {
        color: white;
        font-size: 25px;
        font-weight: none;
        padding-top: 50px;
        padding-left: 30px;
        float: left;
        font-weight: normal;
        text-align: justify;
    }

    .Funkce2 .FilmModePhoto {

        width: 850px;
        height: auto;
        float: right;
        background-color: #000000;
    }

    .Funkce2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #000000;
        width: 100vw;
        height: auto;
    }

    .Funkce2 .nadpis {
        padding: 5%;
        color: white;
        font-size: 70px;
        padding-left: 40px;
        padding-right: 0;
    }

    .Funkce2 .prvniodstavec {
        color: white;
        font-size: 25px;
        font-weight: none;
        padding-top: 50px;
        padding-left: 30px;
        float: left;
        font-weight: normal;
        text-align: justify;
        max-width: 500px;
    }

    .Funkce2 .FilmModePhoto {

        width: 850px;
        /* width: 50%; */
        height: auto;
        float: right;
        background-color: #000000;
        
    }

    /*  -------------------------- */
    /*  -------- SPECIFIKACE -------- */
    /*  -------------------------- */

    .Specifikace
    {
        
        background: #A4FBE1;
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .Specifikace .odstavec
    {
        font-weight: bold;
        font-size: 60px;
        color: #000000;
        /* float: left; */
        padding: 0%;
        padding-top: 100px;
        padding-left: 40px;
        text-align: left;
        
    }
    
    .Specifikace img {

        width: 400px;
        height: auto;
        float: right;
        padding: 40px;


    }

    /*  -------------------------- */
    /*  -------- A15 BIONIC -------- */
    /*  -------------------------- */



    .Chip
    {
        background: rgb(0, 0, 0);
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .Chip .imgWrapper
    {
        width: 60%;
        background-color: rgb(0, 0, 0);
        height: auto;
        float: left;
    }

    .Chip .text
    {
        width: 40%;
        height: 700px;
        float: right;
        background-color: rgb(0, 0, 0);
    }

    .Chip img
    {
        float: left;
        width: 900px;
        height: auto;
    }

    
 
    .Chip h1
    {
        
        padding: 7%;
        color: white;
        font-size: 70px;
        text-align: center;
     
    }

    li
    {
        padding: 10px;

    }

     .Chip li { 
        color: white;
        font-size: 20px;
        font-weight: none;
        font-weight: normal;
        text-align: justify;
        max-width: 500px;
        padding-bottom: 20px;
        margin-left: 5%;
    } 

    .text a{ 
        
        
        border: 5px solid rgb(89, 89, 248);
        border-radius: 50px;
        color: white;
        background-color: rgb(89, 89, 248);
        display: inline-block;
        padding: 0px 10px;
        margin-top: 5%;
        margin-left: 5%;        
    } 
/* .text a  ---- Matějuv Kod
{
    background: #2954DB;
    color: white;
    text-decoration: none;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 100rem;
    margin-top: 2rem;
    margin-left: 5%;
} */

    /*  ------------------------------- */
    /*  -------- MEDIA QUERIES -------- */
    /*  ------------------------------- */

    @media (max-width:1600px) {

        .Funkce2 .prvniodstavec,
        .Funkce2 .FilmModePhoto {
            float: none;
            padding-left: 0;
        }

        .Funkce2 .imgWrapper {
            width: 100%;
            display: flex;
        }

        .Funkce2 .FilmModePhoto {
            margin: 0 auto;
            max-width: 100%;
        }

        .Funkce2 .prvniodstavec {
            font-size: 1.4rem;
            margin: 0 auto;
            padding-inline: 10px
        }
    


/* ----------SPECIFIKACE---------- */


     .Specifikace .imgWrapper {
        width: 100%;
        display: flex;
    } 
    .Specifikace img
    {
        margin: 0 auto;
        max-width: 100%;
    }
    .Specifikace .odstavec
    {
        font-size: 50px;
       text-align: center;

    }
}


    /* ------------------------------ */

    @media (max-width:800px) {
        .Header>* {
            font-size: 14px;
            margin-left: 5px;
        }

        .Funkce1,
        .Funkce2 {
            padding: 30px 0;
        }

        .prvniodstavec,
        .druhyodstavec,
        .Funkce2 .nadpis {
            font-size: 35px;
            padding: 50px 0;
        }

        .Funkce2 p.prvniodstavec {
            font-size: 18px;
        }

        .iphone
        {
            width: 580px;
        }


        /* ----------SPECIFIKACE---------- */


    .Specifikace .imgWrapper {
        width: 100%;
        display: flex;
    }
    .Specifikace img
    {
        margin: 0 auto;
        max-width: 80%;
    }
    .Specifikace .odstavec
    {
        font-size: 30px;
       text-align: center;
       padding-left: 0px;
       padding-top: 60px;

    }

    }