*
{
	margin: 0px;
	padding: 0px;
}

body
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: justify;

	overflow-x: hidden;
}



.HlavniNadpis
{
	margin-top: 100px;
	text-align: center;
	font-size: 100px;
	color: #358859;
	
}
.Prehled
{
	
	height: 100vh;
	width: 100vw;
	position: relative;
}

.iphone
{
	height: auto; 
	width: 700px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform:translateX(-50%);
	

}

.Charakteristika
{
	background: #1a2d25;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	

}
.prvniodstavec
{
	padding-top: 250px;
	padding-left: 40px;
	font-weight: bold;
	font-size: 75px;
	color: #1ec87e;


	

}
.druhytext 
{
	padding-top: 250px;
	padding-right: 	40px;
	padding-bottom: 150px;
	align-self: left;
	font-weight: bold;
	font-size: 75px;
	color: #1ec87e;
	text-align: right;

}


.container{
	width: min(90vw, 1600px);
	background: #1a2d25;
}



.neco{
	background: red;
}

.right{
	text-align: right;
}


 .Header{
	font-size: 1.4em;
	background: rgba(0, 0, 0, .80);
	padding-left: 190px;
	padding-top: 10px;
	padding-bottom: 10px;
}


.HeaderText
{
	
	padding: 5px;
	color: white;
	text-decoration: none;
	


}
.HeaderImage
{
	width: 20px;
	height: auto;
	margin-right: 5px;
	box-sizing: border-box;

}
a
{
	text-decoration: none;
}



@media (max-width: 700px){
	body{
		background:red;
	}
	.Prehled{
		height: 650px;
	}
	.HlavniNadpis{
		font-size: 70px;
	}
	.iphone{
		width: 500px;
		height: auto;

	}
}